$panel-height: 40px;

body,
textarea,
input {
  font-family: "Helvetica neue", helvetica, sans-serif;
}
a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;

  &::after {
    content: 'Saving...';
    background: #f5f5f5;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0s opacity ease .5s;
  }

  &.saving::after {
    opacity: 1;
    transition: none;
  }
  &.saved {
    padding-bottom: $panel-height;
  }
}
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 0;
  font-size: 20px;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 2%;
  &:focus {
    outline: none;
  }
  body.saved & {
    bottom: $panel-height;
  }
}
input[type="submit"] {
  position: absolute;
  bottom: 5px;
  right: 5px;
  .init & {
    display: none;
  }
}
.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #7FD52D;
  padding: 10px;
  margin-bottom: -2 * $panel-height;
  height: $panel-height - 20px;
  line-height: $panel-height - 20px;
  border-top: 1px solid darken(#7FD52D, 10);

  &, input {
    font-size: 15px;
  }
  input, a {
    margin: 0 10px 0 0;
  }

  input {
    border: none;
    background: none;
    width: 220px;
    &:focus {
      outline: none;
    }
  }

  body.saved & {
    margin-bottom: 0;
    transition: 300ms margin;
  }
}
