
{% set root = request.url_root.rstrip('/') %}
<a id="s" href="{{ url_for('index', key=key) }}">
  <img src="{{ url_for('static', filename='i/share.svg') }}"
       width=26 height=26 title="Share">
</a>
{# <div id="share">
  <input type="text" value="{{ root + url_for('index', key=key) }}"
         onclick="javascript:this.select()">
</div> #}
<a id="d" href="{{ url_for('download', key=key) }}">
  <img src="{{ url_for('static', filename='i/download.png') }}"
       width=26 height=26 title="Download">
</a>
<a id="n" href="/">
  <img src="{{ url_for('static', filename='i/new.png') }}"
       width=26 height=26 title="New note">
</a>
<form id="delete" action="{{ url_for('delete', key=key) }}" method="post">
  <button type="submit">
    <img src="{{ url_for('static', filename='i/delete.png') }}"
         width=26 height=26 title="Delete">
  </button>
</form>
